html, body {
    margin: 0;
    padding: 0;
    background-color: #444;
}

.parent{
    border: solid;
    height: 50vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

}

#form {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}